<% provide(:title, 'Home') %>
<div align = "center" >
<br/>
<h1 align="center"> Admissions Portal  </h1>
<h2> University of Bucharest :: Faculty of Mathematics and Informatics <h2>
<%= link_to image_tag("logo.jpeg", :alt=> "FMI-logo", :width => "30%", :height=> "30%", :align => 'center'), 'http://www.fmi.unibuc.ro' %>
<br/>

<%= link_to "Log In", '/users/sign_in' , :class=> "button1" %>
</div>
