<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h2> Admissions Portal  </h2>
    <h3> University of Bucharest - Faculty of Mathematics and Informatics <h3>
    <%= link_to image_tag("logo.jpeg", :alt=> "FMI-logo", :width => "30%", :height=> "30%"), 'http://www.fmi.unibuc.ro' %>
    <% if !user_signed_in? %>
    </br>
    </br>
    <button class="btn-large"><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook) %></button>
    <% end %>
</div>
