<% provide(:title, 'Role') %>
<div class="center hero-unit">
    <h2> What kind of account do you want? </h2>
    <h4> Please, select your account type and complete the account info<h4>
    </br>
      <div class="btn-group">
      <ul>
          <button type="button" class="btn btn-default btn-large"><%= link_to "Student", 'students/new'%></button>
          <button type="button" class="btn btn-default btn-large"><%= link_to "Administrator", 'administrators/new'%></button>
      </ul>
      </div>
</div>
